@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --color-primary: 16 24 40; /* for rgb function with alpha channel in tailwind.config.js*/
    --color-secondary: #475467;
    --color-carmine: #e44848;
    --color-carmine-accent: #d84343;
    --color-sunglow: #ffc531;
    --color-cultured-grey: #f2f4f7;
    --color-almost-white: #f7f7f7;
    --color-chalk: #ffffff;

    @apply text-base text-primaryColor;
  }

  body {
    @apply overflow-x-hidden;
  }
}

@layer components {
  .active {
    @apply relative text-carmineAccentColor;
  }

  .active::after {
    @apply absolute bottom-0 left-0 h-1 w-full rounded-full bg-carmineAccentColor content-[''];
  }

  .nav-bar {
    @apply flex justify-center gap-5 py-1 text-base font-semibold;
  }
}
.star {
  position: relative;
  display: inline-block;
}

.star::before {
  content: attr(data-icon);
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  color: gold; /* Color for the half-star */
}

.star::after {
  content: attr(data-icon);
  color: gray; /* Default star color */
}
